<div id="<%= dom_id card %>" class="card">
  <div class="my-1 flex justify-between">
    <div class="content-start">
      <%= card.card_name %>
      <br/>
      <div class="text-xs font-thin"><%= card.issuer %></div>
    </div>
    <div class="content-end space-x-1">
      <% if action_name != "show" %>
        <%= link_to "Show", card, class: "rounded-lg py-1 px-2 bg-gray-200" %>
        <%= link_to 'Edit', edit_card_path(card), class: "rounded-lg py-1 px-2 bg-gray-200" %>
      <% end %>
    </div>
  </div>
</div>
