<div id="<%= dom_id card %>">
  <div class="my-1 flex justify-between">
    <div class="content-start">
      <%= link_to card do %>
        <%= card.card_name %>
      <% end %>
      <br/>
      <div class="text-xs font-thin">
        <%= card.issuer %>
        <% if card.issuer != card.network %>
          <%= card.network %>
        <% end %>
      </div>
    </div>
    <div class="content-end space-x-1">
      <% if action_name != "show" %>
        <%= link_to card do %>
          <%= material_icon.info.css_class('dark:text-gray-700') %>
        <% end %>
        <%= link_to edit_card_path(card) do %>
          <%= material_icon.settings.css_class('dark:text-gray-700') %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
